.user,
.content,
.users-follow-con {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.user-profile {
  .user-profile-pic > img {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 100%
  }

  .user-stats-con {
    display: flex;
    .user-stats {
      flex: 1;
      .stat-label {
        color: $text-light;
        font-size: 13px;
      }
      .stat-label,
      .stat {
        font-weight: bolder;
        margin: 3px 0 3px 15px;
      }
      .stat {
        color: $darker-blue;
      }
    }
  }
}

.diggle-form {
  input[type=text] {
    color: $text-color;
    border: 1px solid $blue-border;
  }
  input[type=submit] {
    display: none;
  }
}

.users-profile-pic-con,
.users-profile-pic {
  height: 60px;
  width: 60px;
}

.users-profile-pic {
  border-radius: 100%;
}

.user {
  .content-wrapper {
    height: 250px;
    padding: 0;
  }
  .masthead {
    background-color: $twitter-blue;
    height: 80px;
    width: 100%;
    left: -5px;
    position: relative;
    top: 0;
    z-index: 1;
  }
  .user-profile {
    position: relative;
    top: -45px;
    z-index: 2;
  }
  .name > a {
    color: $text-color;
    font-weight: bolder;
  }
  .username > a {
    color: $text-light;
  }
}

.who-to-follow {
  padding: 15px 7px;
  .follow-users-head {
    > h4 {
      display: inline;
    }
  }
}

#follow-users-con {
  .follow-boxes {
    width: 100%;
    height: 80px;
    display: flex;
  }
  .follow {
    border-bottom: 1px solid $light-gray;
    padding: 7px 0px;
    height: 80px;
    &:last-child {
      border-bottom: none;
    }
    .users-profile-pic-con {
      flex: 1;
    }
    .users-profile-content {
      flex: auto;
      margin-left: 5px;
      overflow: hidden;
      .name-span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .name,
        .username {
          display: inline;
        }
        .name > a {
          color: $text-color;
          font-weight: bolder;
        }
      }
    }
  }
}
