@import '../accessories.scss';

.login-con, .signup-con {
  background-color: white;
  border-radius: 3px;
  position: relative;
  input[type=text], input[type=email], input[type=password] {
    color: $text-color;
  }
}

.login-con {
  padding: 15px 10px 5px;
  .login-button {
    float: right;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
  .forgot-password > a {
    font-size: 12px;
  }
}

.signup-con {
  padding: 5px 10px 10px;
  transform: translateY(15px);
  min-height: 95px;
}

.login-masthead {
  background-color: transparent;
}

.join {
  font-weight: 700;
}

.register-con, .profile-edit-con {
  background-color: white;
  padding: 10px 70px 10px;
  border-radius: 3px;
  input[type=email], input[type=password], input[type=text] {
    color: $text-color;
    height: 45px;
    font-weight: 700;
    font-size: 17px;
  }
  .signup-forms {
    margin-top: 20px;
  }
  .terms {
    margin-top: 4px;
    font-size: 0.9em;
    color: $text-light;
  }
}
