.post-container {
  padding: 10px;
  border-bottom: 1px solid $light-gray;
  &:hover {
    background-color: $light-gray;
    cursor: pointer;
  }

  .users-profile-pic-con {
    float: left;
  }

  .diggles-user-data {
    padding: 5px;
    margin-left: 60px;
    > a {
      color: $text-color;
      font-weight: bolder;
    }
    > a,
    > .username,
    > .timestamp {
      display: inline;
    }
  }

  .post-con {
    padding-left: 60px;
    width: 100%;
    > .post-text-only {
      margin: 5px;
      word-wrap: break-word;
    }
  }
}

.post-picture {
  height: 100%;
  width: 100%;
}


.content-wrapper {
  background-color: white;
  padding: 8px;
}

.diggles-stream {
  .content-wrapper { padding: 0; }
}

.form-container {
  padding: 10px;
  position: relative;
  background-color: $light-twitter-blue;
  .upload-button > i {
    color: $twitter-blue;
    font-size: 22px;
  }
  > .text {
    border: 1px solid $twitter-blue;
  }
  .diggle-file-form {
    position: relative;
    float: right;
    top: -35px;
    overflow: hidden;
    margin-right: 2px;
    width: 40px;
    height: 32px;
    input[type=file] {
      opacity: 0;
      filter: alpha(opacity=0);
      transform: translate(-300px, 0) scale(4);
      direction: ltr;
      cursor: pointer;
    }
  }
}
