.user-profile {
  .user-profile-pic > img {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 100%
  }

  .user-stats-con {
    display: flex;
    .user-stats {
      flex: 1;
      .stat-label,
      .stat {
        margin-left: 15px;
      }
      .stat {
        color: $darker-blue;
        font-weight: 700;
      }
    }
  }
}

.users-profile-pic-con {
  float: left;
}

.users-profile-pic-con,
.users-profile-pic {
  height: 60px;
  width: 60px;
}

.users-profile-pic {
  border-radius: 100%;
}

.follow-boxes {
  width: 100%;
  height: 80px;
  display: inline-block;
}

.post-con {
  padding-left: 60px;
  width: 100%;

  > .post-text-only {
    margin: 5px;
  }
}

.post-picture {
  height: 100%;
  width: 100%;
}

.diggles-user-data {
  padding: 10px 5px;
  margin-left: 60px;
}

.content-wrapper {
  background-color: white;
  padding: 8px;
}

.form-container {
  position: relative;
  .upload-button {
    background-color: $light-gray;
  }
  .diggle-file-form {
    position: relative;
    float: right;
    top: -58px;
    overflow: hidden;
    margin-right: 12px;
    width: 40px;
    height: 32px;
    &:hover {
      background-color: $gray;
      border: 1px solid $darker-gray;
    }
    input{
      opacity: 0;
      filter: alpha(opacity=0);
      transform: translate(-300px, 0) scale(4);
      direction: ltr;
      cursor: pointer;
    }
  }
}
