@import '../accessories.scss';

.login-con,
.signup-con,
.update-profile-con,
.register-con,
.account-settings-con {
  background-color: white;
  border-radius: 3px;
  position: relative;
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel] {
    color: $text-color;
  }
}

.login-con {
  padding: 15px 10px 5px;
  .login-button {
    float: right;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
  .forgot-password > a {
    font-size: 12px;
  }
}

.signup-con {
  padding: 5px 10px 10px;
  transform: translateY(15px);
  min-height: 95px;
}

.login-masthead {
  background-color: transparent;
}

.join {
  font-weight: 700;
}

.register-con {
  padding: 10px 70px 10px;
}

.update-profile-con {
  margin-top: 20px;
  padding: 10px 30px 20px;
  .link-helpers {
    margin-top: 10px;
  }
}

.register-con,
.update-profile-con,
.account-settings-con {
  input[type=email],
  input[type=password],
  input[type=text],
  input[type=tel] {
    height: 45px;
    font-weight: 700;
    font-size: 17px;
  }
  .help-block {
    font-size: 0.8em;
  }
  .signup-forms {
    margin-top: 20px;
  }
  .terms {
    margin-top: 4px;
    font-size: 0.9em;
    color: $text-light;
  }
}

.masthead {
  background-color: $twitter-blue;
  width: 99%;
  height: 250px;
  position: relative;
  margin-left: 5px;
  top: 79px;
  z-index: -1;
}

.profile-edit-img-con {
  top: 2px;
  position: relative;
  > img {
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 6px solid white;
    height: 206px;
    width: 206px;
  }
}

.account-settings-con {
  padding: 20px 10px 10px;
}
