= form_for(current_user.active_relationships.find_by(followed_id: user.id), html: {method: :delete}, remote: true) do |f|
  %div
    %div= user.user_profile.full_name
    = f.submit "Unfollow", class: "btn btn-primary"
