#main-nav {
  height: 80px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: $dark-blue;
  border-radius: 0;
  a:focus {
    outline: none;
  }
  .navbar-items-con {
    vertical-align: middle;
  }
  .navbar-nav {
    float: right;
    letter-spacing: 1px;
    list-style: none;
    li.nav-item {
      a.nav-link {
        margin: 1em;
        color: white;
        &:hover {
          color: #eee;
          outline: none;
        }
        &:active,
        &:focus {
          color: white;
        }
      }
    }
    .nav-link-home {
      &:before {
        content: '\f38f \00a0';
        font-family: 'ionicons';
      }
    }
  }
}
