.container
  .col-sm-2.col-sm-offset-1.col-xs-2
  .col-sm-5.col-xs-6.content
    = render 'posts/form' 
    - @posts.each do |post|
      .col-xs-12
        .text-center
          %h6= post.created_at.strftime('%b %d, %Y')
        %div
          = raw(post.body)
  .col-sm-4.col-xs-12
    - @users.each do |user|
      = render 'relationships/follow', user: user
