%nav.navbar.navbar-expand-lg.navbar-light.fixed-top#main-nav
  .container
    .collapse.navbar-collapse#navbar-responsive
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Home', posts_path, class: 'nav-link'
          = link_to 'About', 'pages/about', class: 'nav-link'
        - if user_signed_in?
          %li.nav-item
            = link_to 'Update Profile', edit_user_registration_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Logout', destroy_user_session_path, class: 'nav-link', method: :delete
